// =============================================================================
// PROJECT NAME: Hubtill
// DATE STARTED: 2017/10
// LATEST UPDATE: 2017/10
// AUTHOR: James Colbeck/Port80
// =============================================================================

// Used on headers
@import url(https://fonts.googleapis.com/css?family=Raleway:300,600);
// General font
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);
// Font Awesome
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);

// Base
@import 'site/mixins';
@import 'site/colors';
@import 'site/base';

// Sections
@import 'sections/navigation';
@import 'sections/home';

// Custom
@import 'custom/custom';