// =============================================================================
// Hubtill Home Styling
// =============================================================================

#homeHeaderCarousel {
    @include blueBorderBottom();
}

#homeBodyMarkets {
    @include blueBorderBottom();
}

#homeBodyAbout {
    @include blueBorderBottom();
}

#homeBodyOther {
    @include blueBorderBottom();
}

#homeBodyContact {
    @include blueBorderBottom();
}

.homeSocialIcon [class*="fa fa-"] {
    display: inline-block;
    background-color: $blue;
    border-radius: 50px;
    color: $white;
    height: 50px;
    line-height: 50px;
    margin: auto 0px;
    width: 50px;
    font-size: 1.25rem;
    text-align: center;
    transition: .5s ease;
    &:hover {
        background-color: $blue-dark;
        text-decoration: none;
        transition: .5s ease;
    }
}