// =============================================================================
// Hubtill Navigation Styling
// =============================================================================

#hubtill-navbar {
    @include blueBorderBottom();

    li {
        &:hover {
            background-color: $blue-light;
        }
    }
    
    .nav-link {
        color: $black-light;
    }


}
