// =============================================================================
// Hubtill Colors
// =============================================================================

// White
$white: #fff;
$white-light: lighten($white, 10%);
$white-dark: darken($white, 10%);
.white {
    background-color: $white;
}
.white-light {
    background-color: $white-light;
}
.white-dark {
    background-color: $white-dark;
}
.text-white {
    color: $white;
}

// Blue
$blue: #99cccc;
$blue-light: lighten($blue, 10%);
$blue-dark: darken($blue, 10%);
.blue {
    background-color: $blue;
}
.blue-light {
    background-color: $blue-light;
}
.blue-dark {
    background-color: $blue-dark;
}
.text-blue {
    color: $blue;
}

// Orange
$orange: #ff9933;
$orange-light: lighten($orange, 10%);
$orange-dark: darken($orange, 10%);
.orange {
    background-color: $orange;
}
.orange-light {
    background-color: $orange-light;
}
.orange-dark {
    background-color: $orange-dark;
}
.text-orange {
    color: $orange;
}

// Light Grey
$light-grey: #ccc;
$light-grey-light: lighten($light-grey, 10%);
$light-grey-dark: darken($light-grey, 10%);
.light-grey {
    background-color: $light-grey;
}
.light-grey-light {
    background-color: $light-grey-light;
}
.light-grey-dark {
    background-color: $light-grey-dark;
}
.text-light-grey {
    color: $light-grey;
}

// Dark Grey
$dark-grey: #999;
$dark-grey-light: lighten($dark-grey, 10%);
$dark-grey-dark: darken($dark-grey, 10%);
.dark-grey {
    background-color: $dark-grey;
}
.dark-grey-light {
    background-color: $dark-grey-light;
}
.dark-grey-dark {
    background-color: $dark-grey-dark;
}
.text-dark-grey {
    color: $dark-grey;
}

// Black
$black: #333;
$black-light: lighten($black, 10%);
$black-dark: darken($black, 10%);
.black {
    background-color: $black;
}
.black-light {
    background-color: $black-light;
}
.black-dark {
    background-color: $black-dark;
}
.text-black {
    color: $black;
}