// =============================================================================
// Custom Hubtill Styling
// =============================================================================

// Font Overrides
h1, h2, h3, h4, h5, h6 {
    font-family: $header-font-family;
}

p {
    font-family: $body-font-family;
}

// Sitewide Buffer
.buffer {
    display: block;
    height: 70px;
}

// HR Titles
.title-hr {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid $black;
    line-height: 0.1em;
    span {
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        border: 1px solid $black;
    }
}

.title-hr-white {
    @extend .title-hr;
    border-bottom: 1px solid $white;
    span {
        border: 1px solid $white;
        }
}