@import url(https://fonts.googleapis.com/css?family=Raleway:300,600);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);
.white {
  background-color: #fff; }

.white-light {
  background-color: white; }

.white-dark {
  background-color: #e6e6e6; }

.text-white {
  color: #fff; }

.blue {
  background-color: #99cccc; }

.blue-light {
  background-color: #bbdddd; }

.blue-dark {
  background-color: #77bbbb; }

.text-blue {
  color: #99cccc; }

.orange {
  background-color: #ff9933; }

.orange-light {
  background-color: #ffb366; }

.orange-dark {
  background-color: #ff8000; }

.text-orange {
  color: #ff9933; }

.light-grey {
  background-color: #ccc; }

.light-grey-light {
  background-color: #e6e6e6; }

.light-grey-dark {
  background-color: #b3b3b3; }

.text-light-grey {
  color: #ccc; }

.dark-grey {
  background-color: #999; }

.dark-grey-light {
  background-color: #b3b3b3; }

.dark-grey-dark {
  background-color: gray; }

.text-dark-grey {
  color: #999; }

.black {
  background-color: #333; }

.black-light {
  background-color: #4d4d4d; }

.black-dark {
  background-color: #1a1a1a; }

.text-black {
  color: #333; }

#hubtill-navbar {
  border-bottom: 3px solid #bbdddd; }
  #hubtill-navbar li:hover {
    background-color: #bbdddd; }
  #hubtill-navbar .nav-link {
    color: #4d4d4d; }

#homeHeaderCarousel {
  border-bottom: 3px solid #bbdddd; }

#homeBodyMarkets {
  border-bottom: 3px solid #bbdddd; }

#homeBodyAbout {
  border-bottom: 3px solid #bbdddd; }

#homeBodyOther {
  border-bottom: 3px solid #bbdddd; }

#homeBodyContact {
  border-bottom: 3px solid #bbdddd; }

.homeSocialIcon [class*="fa fa-"] {
  display: inline-block;
  background-color: #99cccc;
  border-radius: 50px;
  color: #fff;
  height: 50px;
  line-height: 50px;
  margin: auto 0px;
  width: 50px;
  font-size: 1.25rem;
  text-align: center;
  transition: .5s ease; }
  .homeSocialIcon [class*="fa fa-"]:hover {
    background-color: #77bbbb;
    text-decoration: none;
    transition: .5s ease; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", Helvetica, Arial, sans-serif; }

p {
  font-family: "Roboto", Helvetica, Arial, sans-serif; }

.buffer {
  display: block;
  height: 70px; }

.title-hr, .title-hr-white {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #333;
  line-height: 0.1em; }
  .title-hr span, .title-hr-white span {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #333; }

.title-hr-white {
  border-bottom: 1px solid #fff; }
  .title-hr-white span {
    border: 1px solid #fff; }
